
<div class='x-container'>
  <div class='player-control'>
        <img class="artist-image" src="{{song.artwork_url}}" alt="">
        <i class="fa fa-play-circle-o" {{action "playSong" media-player}}></i>
        <i class="fa fa-pause"{{action "pauseSong" media-player}}></i>
  </div>
  <div class='playback-container'>
      <div class='volume-control'>
        <i class="fa fa-volume-up"></i>
    		<i class="fa fa-caret-down"></i>
    		<i class="fa fa-caret-up"></i>
      </div>
      <div class='song-artist-info'>
        <h4 class="artist-info">{{song.user.username}}</h4>
        <p class="song-info">{{song.title}}</p>
      </div>
  </div>
  <ul class='time-scrubber'>
      <li class= "curent-time">{{current_time}}<i class="fa fa-spinner fa pulse"></i></li>
      <hr class="song-status">
      <li class= "time-left">{{time_left}}
      </li>
  </ul>
  <ul class='info-buy-footer'>

    <li><i class="fa fa-soundcloud"></i></li>
    <li><p class="buy-song">BUY</p></li>
    <li><i class="fa fa-play-circle-o"></i></li>
    <li><i class="fa fa-heart-o"></i></li>

  </ul>
</div>

{{outlet}}
